<div class="footer-heading footer-heading-mobile text-xl fw-medium">{{ block.settings.title }}</div>
<div class="tf-collapse-content">
  <ul class="footer-menu-list">
    {% for link in linklists[block.settings.menu].links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Menu",
  "settings": [
    { "type": "text", "id": "title", "label": "Title", "default": "About Us" },
    { "type": "link_list", "id": "menu", "label": "Menu" }
  ]
}
{% endschema %} 