<a href="{{ block.settings.url }}" class="social-item social-{{ block.settings.platform }}" target="_blank" rel="noopener">
  <i class="icon icon-{{ block.settings.platform }}"></i>
</a>

{% schema %}
{
  "name": "Social Link",
  "settings": [
    {
      "type": "select",
      "id": "platform",
      "label": "Social Platform",
      "options": [
        { "value": "fb", "label": "Facebook" },
        { "value": "instagram", "label": "Instagram" },
        { "value": "linkedin", "label": "LinkedIn" },
        { "value": "x", "label": "Twitter" }
      ],
      "default": "fb"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Profile URL"
    }
  ]
}
{% endschema %} 