{%- if section.settings.show_section -%}
<section class="s-banner-countdown {% if section.settings.layout == 'home-phonecase' %}banner-cd-phonecase{% else %}banner-cd-fashion{% endif %}" 
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="container">
    <div class="s-banner-countdown-inner">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide" {{ block.shopify_attributes }}>
            {% render block, layout: section.settings.layout %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "Banner Countdown",
  "settings": [
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section Layout",
      "options": [
        { "value": "default", "label": "Default" },
        { "value": "home-phonecase", "label": "Home Phonecase" }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],
  "blocks": [
    { "type": "@theme" }
  ],
  "presets": [
    {
      "name": "Banner Countdown",
      "blocks": [
        { "type": "banner-countdown-block" }
      ]
    },
    {
      "name": "Banner Countdown (Phonecase)",
      "settings": { "layout": "home-phonecase" },
      "blocks": [
        { "type": "banner-countdown-block" }
      ]
    }
  ]
}
{% endschema %}