<section class="flat-spacing-3 overflow-hidden">
  <div class="container">
    <div class="flat-title wow fadeInUp">
      <h4 class="title">Best Sellers</h4>
    </div>
    <div class="fl-control-sw2 pos2 wow fadeInUp">
      <div dir="ltr" class="swiper tf-swiper wrap-sw-over" 
        data-swiper='{
          "slidesPerView": 2,
          "spaceBetween": 12,
          "speed": 800,
          "slidesPerGroup": 2,
          "navigation": {
            "clickable": true,
            "nextEl": ".nav-next-seller",
            "prevEl": ".nav-prev-seller"
          },
          "pagination": { 
            "el": ".sw-pagination-seller", 
            "clickable": true 
          },
          "breakpoints": {
            "768": { 
              "slidesPerView": 3, 
              "spaceBetween": 12, 
              "slidesPerGroup": 3 
            },
            "1200": { 
              "slidesPerView": 4, 
              "spaceBetween": 24, 
              "slidesPerGroup": 4
            }
          }
        }'>
        <div class="swiper-wrapper">
          {%- for product in collections.all.products limit: 6 -%}
            <div class="swiper-slide">
              {% render 'card-product', product: product %}
            </div>
          {%- endfor -%}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-seller justify-content-center"></div>
      </div>
      <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-seller"></div>
      <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-seller"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Best Sellers",
  "settings": [],
  "presets": [
    {
      "name": "Best Sellers"
    }
  ]
}
{% endschema %}