<section class="flat-spacing-3 overflow-hidden">
  <div class="container">
    <div class="flat-title wow fadeInUp">
      <h4 class="title">{{ section.settings.section_title }}</h4>
    </div>
    <div class="fl-control-sw2 pos2 wow fadeInUp">
      <div dir="ltr" class="swiper tf-swiper wrap-sw-over" 
        data-swiper='{
          "slidesPerView": 2,
          "spaceBetween": 12,
          "speed": 800,
          "slidesPerGroup": 2,
          "navigation": {
            "clickable": true,
            "nextEl": ".nav-next-seller",
            "prevEl": ".nav-prev-seller"
          },
          "pagination": { 
            "el": ".sw-pagination-seller", 
            "clickable": true 
          },
          "breakpoints": {
            "768": { 
              "slidesPerView": 3, 
              "spaceBetween": 12, 
              "slidesPerGroup": 3 
            },
            "1200": { 
              "slidesPerView": {{ section.settings.products_to_show }}, 
              "spaceBetween": 24, 
              "slidesPerGroup": {{ section.settings.products_to_show }}
            }
          }
        }'>
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide" {{ block.shopify_attributes }}>
              {% render 'card-product',
                product: block.settings.product,
                style: 'style-4',
                show_sale_badge: true,
                show_color_swatches: true,
                selected_variant: block.settings.product.selected_or_first_available_variant
              %}
            </div>
          {%- endfor -%}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-seller justify-content-center"></div>
      </div>
      <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-seller"></div>
      <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-seller"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Best Sellers",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Best Sellers"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "Products to show at once",
      "default": 4,
      "info": "Number of products visible in the slider at the same time"
    }
  ],
  "max_blocks": 12,
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Best Sellers",
      "settings": {
        "section_title": "Best Sellers",
        "products_to_show": 4
      },
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}