{% schema %}
  {
    "name": "Brand",
    "settings": [
      {
        "type": "range",
        "id": "speed",
        "min": 20,
        "max": 200,
        "step": 10,
        "unit": "ms",
        "label": "Slider speed",
        "default": 80
      },
      {
        "type": "select",
        "id": "style",
        "label": "Slider style",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "range",
        "id": "clone",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "Number of clones",
        "default": 2
      }
    ],
    "blocks": [
      {
        "type": "@theme"
      }
    ],
    "presets": [
      {
        "name": "Brand",
        "blocks": [
          {
            "type": "brand"
          },
          {
            "type": "brand"
          },
          {
            "type": "brand"
          },
          {
            "type": "brand"
          },
          {
            "type": "brand"
          },
          {
            "type": "brand"
          }
        ]
      }
    ]
  }
{% endschema %}
  
<style>
  .brand-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
  
<div class="flat-spacing-2">
  <div class="container">
    <div class="infiniteslide tf-brand" data-clone="{{ section.settings.clone }}" data-style="{{ section.settings.style }}" data-speed="{{ section.settings.speed }}">
      {% for block in section.blocks %}
        {% render block %}
      {% endfor %}
    </div>
  </div>
</div> 