{%- comment -%}Header Group Section{%- endcomment -%}
<div class="header-group">
  {% section 'top-bar' %}
  {% section 'header' %}
</div>

{% schema %}
{
  "name": "Header Group",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Header Group"
    }
  ]
}
{% endschema %} 