{%- if section.settings.show_section -%}
  <section class="bg-surface flat-spacing-8">
    <div class="container">
      <div class="flat-title mb_1 style-between wow fadeInUp">
        <div class="box-title">
          <h4 class="title">{{ section.settings.title }}</h4>
          <p class="desc text-main text-md">{{ section.settings.description }}</p>
        </div>
        <div class="wg-countdown-2">
          <span class="js-countdown" data-timer="{{ section.settings.global_countdown }}" data-labels="Days,Hours,Mins,Secs"></span>
        </div>
      </div>
      <div class="fl-control-sw wow fadeInUp">
        <div dir="ltr" class="swiper tf-swiper sw-height" data-swiper='{
          "slidesPerView": 2,
          "spaceBetween": 12,
          "speed": 800,
          "observer": true,
          "observeParents": true,
          "slidesPerGroup": 2,
          "navigation": {
            "clickable": true,
            "nextEl": ".nav-next-deal",
            "prevEl": ".nav-prev-deal"
          },
          "pagination": { "el": ".sw-pagination-deal", "clickable": true },
          "breakpoints": {
            "768": { "slidesPerView": 3, "spaceBetween": 12, "slidesPerGroup": 3 },
            "1200": { "slidesPerView": 4, "spaceBetween": 24, "slidesPerGroup": 4 }
          }
        }'>
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              <div class="swiper-slide" {{ block.shopify_attributes }}>
                {% render 'card-product', product: block.settings.product %}
              </div>
            {%- endfor -%}
          </div>
          <div class="d-flex d-xl-none sw-dot-default sw-pagination-deal justify-content-center"></div>
        </div>
        <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-deal"></div>
        <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-deal"></div>
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Hot Deals",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hot Deals"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Explore our most popular pieces that customers can't get enough of"
    },
    {
      "type": "text",
      "id": "global_countdown",
      "label": "Global countdown timer",
      "default": "46556"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hot Deals",
      "settings": {
        "show_section": true,
        "title": "Hot Deals",
        "description": "Explore our most popular pieces that customers can't get enough of",
        "global_countdown": "46556"
      },
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}