<div class="line-top flat-spacing-5">
  <div class="container">
    <div class="mw-1 m-auto">
      <div dir="ltr" class="swiper tf-swiper wow fadeInUp" data-swiper='{
        "slidesPerView": 1,
        "spaceBetween": 12,
        "speed": 800,
        "observer": true,
        "observeParents": true,
        "pagination": { "el": ".sw-pagination-iconbox", "clickable": true },
        "breakpoints": {
          "575": { "slidesPerView": 2, "spaceBetween": 12, "slidesPerGroup": 2}, 
          "768": { "slidesPerView": 3, "spaceBetween": 24, "slidesPerGroup": 2},
          "1200": { "slidesPerView": 4, "spaceBetween": 42, "slidesPerGroup": 2}
        }
      }'>
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide" {{ block.shopify_attributes }}>
              <div class="tf-icon-box style-2">
                <div class="box-icon">
                  <i class="icon {{ block.settings.icon }}"></i>
                </div>
                <div class="content">
                  <div class="title">{{ block.settings.title }}</div>
                  <p class="desc">{{ block.settings.text }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-iconbox justify-content-center"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon Boxes",
  "settings": [],
  "blocks": [
    {
      "type": "icon_box",
      "name": "Icon Box",
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Icon Class",
          "default": "icon-shipping"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Free Shipping"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Enjoy free shipping on all orders"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon Boxes",
      "blocks": [
        {
          "type": "icon_box",
          "settings": {
            "icon": "icon-shipping",
            "title": "Free Shipping",
            "text": "Enjoy free shipping on all orders"
          }
        },
        {
          "type": "icon_box",
          "settings": {
            "icon": "icon-gift",
            "title": "Gift Package",
            "text": "Perfectly packaged for gifting"
          }
        },
        {
          "type": "icon_box",
          "settings": {
            "icon": "icon-return",
            "title": "Free Returns",
            "text": "Within 14 days for a return"
          }
        },
        {
          "type": "icon_box",
          "settings": {
            "icon": "icon-support",
            "title": "Support Online",
            "text": "We support customers 24/7"
          }
        }
      ]
    }
  ]
}
{% endschema %}