{%- if section.blocks.size > 0 -%}
  <div class="marquee-sale bg-light-green-2">
    <div class="marquee-wrapper">
      <div class="initial-child-container">
        {%- for block in section.blocks -%}
          <div class="marquee-child-item" {{ block.shopify_attributes }}>
            {%- if block.settings.text != blank -%}
              <p class="display-xs fw-medium">{{ block.settings.text }}</p>
            {%- endif -%}
          </div>
          {%- unless forloop.last -%}
            <div class="marquee-child-item">
              <i class="icon-flash-star"></i>
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Marquee Sale",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#E8F5E9"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "50% Off On Selected Items"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee Sale",
      "category": "Banner",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "50% Off On Selected Items"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "New Arrival"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "50% Off On Selected Items"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "New Arrival"
          }
        }
      ]
    }
  ]
}
{% endschema %}