{%- comment -%}Page Title Section{%- endcomment -%}
<section class="page-title">
  <div class="container">
      <h4 class="s-title letter-0 text-center flat-spacing-2">{% if template == 'list-collections' %}Collections{% else %}{{ page_title | default: settings.title }}{% endif %}</h4>
  </div>
</section>

{% schema %}
{
  "name": "Page Title",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shopping Cart"
    }
  ]
}
{% endschema %}
