<section class="s-term-user flat-spacing-2">
  {% if section.settings.width == 'boxed' %}
    <div class="container" style="padding-left: 15px; padding-right:15px">
  {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          {% for block in section.blocks %}
            <div class="term-item" {{ block.shopify_attributes }}>
              <p class="term-title">{{ block.settings.title }}</p>
              <div class="text-wrap">
                <p class="term-text body-text text-main">{{ block.settings.content | newline_to_br | remove: '<p>' | remove: '</p>' }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Privacy Policy",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    }
  ],
  "blocks": [
    {
      "type": "policy_section",
      "name": "Policy Section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Title",
          "default": "1. Information We Collect"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Privacy Policy main",
      "category": "Privacy Policy",
      "blocks": [
        {
          "type": "policy_section",
          "settings": {
            "title": "1. Information We Collect",
            "content": "<p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.</p><p>We collect Device Information using the following technologies:</p><p>\"Cookies\" are data files that are placed on your device or computer and often include an anonymous unique identifier.</p><p>\"Log files\" track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</p><p>\"Web beacons\", \"tags\", and \"pixels\" are electronic files used to record information about how you browse the Site.</p>"
          }
        },
        {
          "type": "policy_section",
          "settings": {
            "title": "2. How We Use Your Information",
            "content": "<p>We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).</p><p>Additionally, we use this Order Information to:</p><p>Communicate with you;<br>Screen our orders for potential risk or fraud;<br>Provide you with information or advertising relating to our products or services.</p>"
          }
        },
        {
          "type": "policy_section",
          "settings": {
            "title": "3. Sharing Your Personal Information",
            "content": "<p>We share your Personal Information with third parties to help us use your Personal Information, as described above. For example, we use Shopify to power our online store--you can read more about how Shopify uses your Personal Information here: https://www.shopify.com/legal/privacy.</p><p>We also use Google Analytics to help us understand how our customers use the Site--you can read more about how Google uses your Personal Information here: https://www.google.com/intl/en/policies/privacy/.</p>"
          }
        },
        {
          "type": "policy_section",
          "settings": {
            "title": "4. Data Retention",
            "content": "<p>When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.</p>"
          }
        },
        {
          "type": "policy_section",
          "settings": {
            "title": "5. Your Rights",
            "content": "<p>You are responsible for maintaining the confidentiality of your account and password information, and you agree to accept responsibility for all activities that occur under your account and password.</p><p>This website and The Company Pte Ltd reserves the right to refuse service, terminate accounts remove or edit content or cancel orders.</p>"
          }
        },
        {
          "type": "policy_section",
          "settings": {
            "title": "6. Changes",
            "content": "<p>We may update this privacy policy from time to time to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>"
          }
        },
        {
          "type": "policy_section",
          "settings": {
            "title": "7. Contact Us",
            "content": "<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href=\"mailto:contact@vince.com\">contact@vince.com</a></p>"
          }
        }
      ]
    }
  ]
}
{% endschema %} 