{%- comment -%}Related Products Section{%- endcomment -%}
<section class="flat-spacing pt-0">
  <div class="container">
    <div class="flat-title wow fadeInUp">
      <h4 class="title">{{ section.settings.title }}</h4>
    </div>
    <div class="fl-control-sw pos2">
      <div dir="ltr" class="swiper tf-swiper wrap-sw-over" data-swiper='{
        "slidesPerView": 2,
        "spaceBetween": 12,
        "speed": 800,
        "observer": true,
        "observeParents": true,
        "slidesPerGroup": 2,
        "navigation": {
          "clickable": true,
          "nextEl": ".nav-next-also",
          "prevEl": ".nav-prev-also"
        },
        "pagination": { "el": ".sw-pagination-also", "clickable": true },
        "breakpoints": {
          "768": { "slidesPerView": 3, "spaceBetween": 12, "slidesPerGroup": 3 },
          "1200": { "slidesPerView": 4, "spaceBetween": 24, "slidesPerGroup": 4}
        }
      }'>
        <div class="swiper-wrapper">
          {% assign related_products = collections.all.products | sort: 'created_at' | reverse | limit: settings.products_to_show %}
          {% for product in related_products %}
            <div class="swiper-slide">
              {% render 'card-product',
                product: product,
                show_sale_badge: true,
                show_color_swatches: true
              %}
            </div>
          {% endfor %}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-also justify-content-center"></div>
      </div>
      <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-also"></div>
      <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-also"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Related Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "You May Also Like"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "Products to show",
      "default": 6
    }
  ]
}
{% endschema %}