<section class="s-term-user flat-spacing-25">
  {% if section.settings.width == 'boxed' %}
    <div class="container" style="padding-left: 15px; padding-right:15px">
  {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          {% for block in section.blocks %}
            <div class="term-item" {{ block.shopify_attributes }}>
              <p class="term-title">{{ block.settings.title }}</p>
              <div class="text-wrap">
                <div class="term-text body-text text-main">{{ block.settings.content}}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Return and Refund",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    }
  ],
  "blocks": [
    {
      "type": "refund_section",
      "name": "Refund Section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Title",
          "default": "1. Returns"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "default": "We want you to be completely satisfied with your purchase. If for any reason you are not satisfied, you may return the item(s) within 30 days of receiving your order for a refund or exchange. To be eligible for a return, the item must be unused, in its original packaging, and in the same condition as you received it."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Return and Refund main",
      "category": "Return and Refund",
      "settings": {
        "width": "boxed"
      },
      "blocks": [
        {
          "type": "refund_section",
          "settings": {
            "title": "1. Returns",
            "content": "<p>We want you to be completely satisfied with your purchase. If for any reason you are not satisfied, you may return the item(s) within 30 days of receiving your order for a refund or exchange. To be eligible for a return, the item must be unused, in its original packaging, and in the same condition as you received it.</p>"
          }
        },
        {
          "type": "refund_section",
          "settings": {
            "title": "2. Return Process",
            "content": "<p>To initiate a return, please contact our customer support team at support@example.com to request a Return Merchandise Authorization (RMA) number. Please include your order number and the reason for the return in your email. Once you receive your RMA number, carefully package the item(s) and ship them back to us. The customer is responsible for return shipping costs unless the return is due to an error on our part.</p>"
          }
        },
        {
          "type": "refund_section",
          "settings": {
            "title": "3. Refunds",
            "content": "<p>Refunds will be issued to the original payment method used for the purchase within 5-7 business days after we receive the returned item(s) and verify their condition. Shipping costs are non-refundable, and a restocking fee may apply in certain circumstances.</p>"
          }
        },
        {
          "type": "refund_section",
          "settings": {
            "title": "4. Exchanges",
            "content": "<p>If you would like to exchange an item for a different size, color, or style, please indicate your preference when requesting a return. We will process the exchange once we receive the returned item(s) and verify their condition. Additional shipping charges may apply for exchanges.</p>"
          }
        },
        {
          "type": "refund_section",
          "settings": {
            "title": "5. Damaged or Defective Items",
            "content": "<p>If you receive a damaged or defective item, please contact us immediately with photos of the damaged or defective product. We will assess the issue and provide instructions for returning the item for a replacement or refund at no additional cost to you.</p><p>We only handle cases of damage or incorrect items within 7 days from the delivery date. Requests made after this period will not be entertained.</p>"
          }
        },
        {
          "type": "refund_section",
          "settings": {
            "title": "6. Return Exceptions",
            "content": "<p>Certain items may not be eligible for return or exchange due to hygiene reasons or specific product restrictions. These items will be marked as non-returnable on the product page.</p>"
          }
        },
        {
          "type": "refund_section",
          "settings": {
            "title": "7. Return Address",
            "content": "<p>Your Company Name<br>123 Return Street<br>City, State 12345<br>Country</p>"
          }
        },
        {
          "type": "refund_section",
          "settings": {
            "title": "8. Policy Updates",
            "content": "<p>We reserve the right to update our Return & Refund Policy at any time. Any changes to our policy will be communicated on our website.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %} 