/* Color Scheme Styles */
[data-color-scheme="scheme-1"] {
  --background: #313030;
  --text: #ffffff;
  --primary-button: #7c8c47;
  --secondary-button: #d47b62;
  --primary-button-border: #7c8c47;
  --secondary-button-border: #d47b62;
  --on-primary-button: #ffffff;
  --on-secondary-button: #ffffff;
  --links: #7c8c47;
  --icons: #7c8c47;
}

[data-color-scheme="scheme-2"] {
  --background: #7c8c47;
  --text: #ffffff;
  --primary-button: #d47b62;
  --secondary-button: #3f7b25;
  --primary-button-border: #d47b62;
  --secondary-button-border: #3f7b25;
  --on-primary-button: #ffffff;
  --on-secondary-button: #ffffff;
  --links: #d47b62;
  --icons: #d47b62;
}

[data-color-scheme="scheme-3"] {
  --background: #d47b62;
  --text: #ffffff;
  --primary-button: #3f7b25;
  --secondary-button: #313030;
  --primary-button-border: #3f7b25;
  --secondary-button-border: #313030;
  --on-primary-button: #ffffff;
  --on-secondary-button: #ffffff;
  --links: #3f7b25;
  --icons: #3f7b25;
}

[data-color-scheme="scheme-4"] {
  --background: #3f7b25;
  --text: #ffffff;
  --primary-button: #313030;
  --secondary-button: #7c8c47;
  --primary-button-border: #313030;
  --secondary-button-border: #7c8c47;
  --on-primary-button: #ffffff;
  --on-secondary-button: #ffffff;
  --links: #313030;
  --icons: #313030;
}

/* Header Color Scheme Styles */
#header {
  background-color: var(--background);
  color: var(--text);
}

.box-nav-menu .menu-item > a {
  color: var(--text);
}

.box-nav-menu .menu-item > a:hover {
  color: var(--links);
}

.sub-menu {
  background-color: var(--background);
  color: var(--text);
}

.nav-icon-item {
  color: var(--icons);
}

.nav-icon-item:hover {
  color: var(--links);
}

.mobile-menu {
  background-color: var(--background);
  color: var(--text);
} 