/* Font Classes */
.font-1 {
  font-family: var(--heading-font);
}

.font-2 {
  font-family: var(--body-font);
}

/* Font Size Classes */
.text-lg {
  font-size: 1.125rem;
  line-height: 1.5;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.5;
}

.display-sm {
  font-size: 1.5rem;
  line-height: 1.3;
}

.display-md {
  font-size: 2rem;
  line-height: 1.2;
}

/* Font Weight Classes */
.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
} 